{% extends "home_view.twig" %}

{% block film %}
   
	<!-- // Chaques films est affiché sous forme de carte qui défileront dans un carroussel  -->
	<div class="card">

		<h1 class="card-title">{{ film.Titre }}</h1>

		<ul>
			<li>Date de sortie : <a href="">{{ film.Sortie }}</a></li>
			<li>Auteur : <a href="">{{ film.Prenom }} {{ film.Nom }}</a></li>
			<li>Genre:
				{% for elem in gender %}
					<a href="gender/{{ elem.ID }}">{{ elem.Themes }}</a>
				{% endfor %} 
			</li>
		</ul>

		<p class="card-description">{{ film.Description }}</p>
		

	</div>

{% endblock %}