{% extends "home_view.twig" %}

{% block film %}
   
	<!-- // Chaques films est affiché sous forme de carte qui défileront dans un carroussel  -->
	<div class="card">

		<h1 class="card-title">{{ film.title }}</h1>

		<ul>
			<li>Date de sortie : <a href="">{{ film.releaseDate }}</a></li>
			<li>Auteur : <a href="">{{ film.name }} {{ film.lastname }}</a></li>
			<li>Genre:

					{% set foo = film.gid|split(',') %}
					{% set foo2 = film.gname|split(',') %}
					{% for id in foo %}		
						<a href="/annuaire_film/gender/list/{{ id }}">{{ foo2[loop.index] }}</a>
					{% endfor %}	


			</li>
		</ul>

		<p class="card-description">{{ film.description }}</p>
		

	</div>

{% endblock %}