{% extends "home_view.twig" %}

{% block nav %}

           <nav class="container d-flex justify-content-between align-items-center">
            <i id="burger" class="col-2 fas fa-bars p-0"></i>
            <h1 class="col-8 my-1 d-flex justify-content-center"><a href="/annuaire_film">M<span>O</span>OVIZ</a></h1>
            <div class="col-2 p-0">Loupe</div>
        </nav>

            <div class="p-0 accordion col-12 d-none" id="accordion">

                <!-- Premier dropdown item -->

                <div class="card p-0 border-left-0 border-right-0">
                    <div class="card-header border-0" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Genre
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            {% for gender in genders %}
                            <a class="col-3 py-4" href="/annuaire_film/gender/list/{{ gender.id }}"> {{ gender.name }} </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- Second dropdown item -->

                <div class="card p-0 border-left-0 border-right-0">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                Réalisateur
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body ">
                            {% for owner in owners %}
                            <a class="col-6 p-auto" href="/annuaire_film/owners/list/{{ owner.id }}"> {{ owner.name }} {{ owner.lastname}}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- Troisième dropdown item -->

                <div class="card p-0 border-left-0 border-right-0">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                Date de sortie
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            {% for date in years %}
                            <a class="col-3 py-4" href="/annuaire_film/years/list/{{ date.releaseDate }}"> {{ date.releaseDate }} </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>


            </div>
{% endblock %}



{% block welcom %} 

{% endblock %}    




{% block film %}
<section class="moovie-section">
    

   <h1 class="moovie-title">{{ film.title }}</h1>

<div class="wrapper-moovie d-flex flex-column justify-content-center align-items-center">
 

    <div class="moovie" data-id="{{ film.mId }}"> <!-- Prêt pour intégrer Ajax -->
        <div class="moovie-wrapper-info">

            <p class="moovie-description">{{ film.description }}</p>
            <ul>

                <li>Date de sortie : <a href="/annuaire_film/years/list/{{ film.releaseDate }}">{{ film.releaseDate }}</a></li>
                <li>Auteur : <a href="/annuaire_film/owners/list/{{ film.directorId }}">{{ film.name }} {{ film.lastname }}</a></li>
                <li>Genre:
                    {% set foo = film.gid|split(',') %}
                    {% set foo2 = film.gname|split(',') %}
                    {% for id in foo %}
                    <a href="/annuaire_film/gender/list/{{ id }}">{{ foo2[loop.index0] }}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>    
        
    </div>


</div>

</section>

{% endblock %}

