{% extends "home_view.twig" %}

{% block gender %}

<!-- // TOUT LES FILMS PAR LEURS GENRE -->


{% for elem in film %}
<!-- // Chaques films est affiché sous forme de carte qui défileront dans un carroussel  -->
	<div class="card">

		<h1 class="card-title">{{ elem.title }}</h1>

		<ul>
<<<<<<< HEAD
			<li>Date de sortie : <a href="/annuaire_film/years/list/{{ elem.releaseDate }}">{{ elem.releaseDate }}</a></li>
			<li>Auteur : <a href="">{{ elem.name }} {{ elem.lastname }}</a></li>
			<li>Genre: {{ elem }}
				
					{% set foo = elem.genreId|split(',') %}
					{% set foo2 = elem.name|split(',') %}
					{% for id in foo %}		
						<a href="/annuaire_film/gender/list/{{ id }}">{{ foo2[loop.index] }}</a>
					{% endfor %}	
			}
			}
			}

=======
			<li>Date de sortie : <a href="../years/{{ elem.Sortie }}">{{ elem.Sortie }}</a></li>
			<li>Auteur : <a href="">{{ elem.Prenom }} {{ elem.Nom }}</a></li>
			<li>Genre:
		
					<a href="{{ elem.ID }}">{{ elem.Themes }}</a>
>>>>>>> 2c1cbb949c5cb87ed5ceac350620024f23c0f4f6
			
			</li>
		</ul>

		<p class="card-description">{{ elem.Description }}</p>
		

	</div>

{% endfor %}

{% endblock %}