<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>MOOVIZ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="annuaire de film de type allociné">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="scss/main.css">

</head>

<body>
    <header id="header" class="container-fluid">
        <h1><a href="/annuaire_film">MOOVIZ</a></h1>

        <nav>
            <ul>
                <li>
                    Par genre :
                    <ul>
                        {% for genre in genres %}
                        <li> <a href=""> {{ genre }} </a> </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    Par auteur :
                    <ul>
                        {% for auteur in auteurs %}
                        <li> <a href=""> {{ auteur }} </a> </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    Par année :
                    <ul>
                        {% for year in years %}
                        <li> <a href=""> {{ year }} </a> </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </nav>
    </header> <!-- FIN HEADER -->
    <main class="container-fluid">
        
        <!-- // home controller -->
        {% for array in films %}
          
                <li> <a href="film/show/{{ array.id }}"> {{ array.title }} </a> </li>
        
        {% endfor %}
        

        {% block film %}{% endblock %}
        {% block gender %}{% endblock %}
        {% block years %}{% endblock %}
        

    </main> <!-- FIN MAIN -->

    <footer class="container-fluid">

    </footer> <!-- FIN FOOTER -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" icrossorigin="anonymous"></script>
</body>

</html>