{% extends "home_view.twig" %}

{% block years %}
    <!-- // Chaques films est affiché sous forme de carte qui défileront dans un carroussel  -->   
    <div class="container">
        <div class="row">
            {% for elem in film %}
    
                <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 p-1">
                    <a href="/annuaire_film/film/show/{{ elem.mId }}">
                        <div class="mycard mycard-list" data-id="{{ elem.mId }}">
                                
                        </div>
                    </a>
                </div>
    
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block nav %}
        <nav>
            <span id="burger" class="navbar-toggler-icon">Canaillou</span>
            <h1><a href="/annuaire_film">M<span>O</span>OVIZ</a></h1>
            <div class="p-0 accordion show w-100 d-none" id="accordion">

                <!-- Premier dropdown item -->

                <div class="card p-0">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Genre
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            {% for gender in genders %}
                            <a href="/annuaire_film/gender/list/{{ gender.id }}"> {{ gender.name }} </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- Second dropdown item -->

                <div class="card p-0">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                Réalisateur
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            {% for owner in owners %}
                            <a href="/annuaire_film/owners/list/{{ owner.id }}"> {{ owner.name }} {{ owner.lastname}}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- Troisième dropdown item -->

                <div class="card p-0">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                Date de sortie
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            {% for date in years %}
                            <a href="/annuaire_film/years/list/{{ date.releaseDate }}"> {{ date.releaseDate }} </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>


            </div>

        </nav>


{% endblock %}